<div class="btn-group ml-select" uib-dropdown keyboard-nav ng-class="{'dropup':multiSelectCtrl.config.dropup } " on-toggle="multiSelectCtrl.open()">
    <button type="button" class="btn hhh" uib-dropdown-toggle ng-attr-id="{{multiSelectCtrl._id}}_key_nav" ng-disabled="multiSelectCtrl.ngDisabled">
        <span ng-attr-id="{{multiSelectCtrl._id}}_header_text"></span> <i class="icon icon-chevron-down"></i> <i class="icon icon-chevron-up"></i>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav" ng-if="multiSelectCtrl.ddShow">
        <li role="menuitem">
            <a ng-click="multiSelectCtrl.optionToggleAll($event)" href>
                <div class="icon-container ml-select-container">
                    <i class="icon icon-check" ng-show="multiSelectCtrl._allSelected == true"></i>
                    <i class="icon icon-uncheck" ng-show="multiSelectCtrl._allSelected != true"></i>
                    <span ng-show="multiSelectCtrl._allSelected != true">Select All</span>
                    <span ng-show="multiSelectCtrl._allSelected == true">Deselect All</span>
                </div>
            </a>
        </li>
        <li role="menuitem" ng-repeat="option in multiSelectCtrl.options track by $index">
            <a ng-click="multiSelectCtrl.optionToggle(option, $event)" href>
                <div class="icon-container ml-select-container">
                    <i class="icon icon-check" ng-show="option._selected == true"></i>
                    <i class="icon icon-uncheck" ng-show="option._selected != true"></i>
                    <span>{{::option.name}}</span>
                </div>
            </a>
        </li>
    </ul>
</div>